


body {
    background-image:url(wallpaper.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
    background-opacity:15

}


h1{
  font-size:80px;
  background-color: #ebebe0;
 font-variant-position: center
  font-family:'Georgia'
  color:white;
    text-align: center;



}


div#carouselExampleSlidesOnly
 {
margin-left: 500px
}


.weather_widget{
  margin-top: -330px
}

.card{
  background-color: pink;

}
.card2{
  background-color: white;
  margin-top: -400px;
    margin-bottom: 100px;
    margin-right: 0px;
    margin-left: 335px;
}

.card3
{
 background-color: pink;
  margin-top: -600px;
    margin-bottom: 200px;
    margin-right: 0px;
    margin-left: 750px;


}

.card4
{
 background-color: green;
  margin-top: -700px;
    margin-bottom: 200px;
    margin-right: 0px;
    margin-left: 1100px;
  }
