


body {
    background-image:url(white);
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
    background-opacity:15

}


h1{
  font-size:80px;
  background-color: #ebebe0;
 font-variant-position: center
  font-family:'Georgia'
  color:white;
    text-align: center;
    text-decoration-color: white;


}


div#carouselExampleSlidesOnly
 {
margin-left: 450px
}

.card{
  background-color: red;

}
.card2{
  background-color: red;
  margin-top: -400px;
    margin-bottom: 100px;
    margin-right: 0px;
    margin-left: 335px;
}





